page-home {
    ion-content {
        background: linear-gradient(to bottom left, map-get($colors, primary) 0%, darken(map-get($colors, primary), 20%) 100%);
        .scroll-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #panel {
            background-color: #D056DB;
            transition: max-height 0.2s ease-out;

            p{
                padding-left: 5px;
                padding-top: 10px;
                color: #FFF;
                font-family: 'lato';
                font-weight: 300;
                font-size: 1.5rem;
            }
            button {
                margin-right: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

        }
        h1 {
            font-family: 'Lato';
            font-weight: 300;
            color: #FFF;
            font-size: 4rem;
            animation-delay: 66ms;
            padding-bottom: 0 !important;
        }
        ion-list .item {
            &:first-child {
                animation-delay: 33ms;
            }
            &, .item-inner {
                background: transparent !important;
                border-color: rgba(white, 0.2) !important;
            }
            color: rgba(white, 0.8);
            &.activated {
                color: #FFF;
                background: rgba(white, 0.1) !important;
            }
        }
    }
    
}
