<ion-header no-border>
    <ion-navbar color="dark" transparent>
        <ion-title>{{session !== null ? session.name : 'Loading...'}}</ion-title>
        <ion-buttons end class="back-button-md">
            <button ion-button icon-only (click)="showQr()">
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="song-info">
        <img src="http://www.clker.com/cliparts/q/7/x/M/D/R/record-player-hi.png">
        <div class="song-info-content">
            <strong>Song Title</strong><br/>Song Artist
        </div>
    </div>    
    <div class="waveform">
        Waveform and song stuff will eventually go here.
    </div>  
    <div class="opponent-lyrics">
        Lyrics lalalalalalala... 
    </div>  
    <ion-card class="player-container">
        <ion-card-content>
            <ion-list>
                <button ion-item (click)="search()">
                    <div class="song-info">
                        <img src="http://www.clker.com/cliparts/q/7/x/M/D/R/record-player-hi.png">
                        <div class="song-info-content" style= 'color: #444' *ngIf="result === null">
                            <strong>No Song Selected</strong><br/>Click here to search...
                        </div>
                        <div class="song-info-content" style= 'color: #D056DB' *ngIf="result !== null">
                            <strong>{{result.title}}</strong><br/>{{result.artist}}
                        </div>
                    </div>  
                </button>
                <hr/>
                <button ion-item style="text-align: center">
                    {{lyric}}
                </button>
                <ion-item *ngIf="result !== null">
                    <canvas class="track" id="track" #track></canvas>
                </ion-item>
                <hr/>
                <button ion-item class="submit">
                    <img src="https://i.imgur.com/SUtq3kZ.png">
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<div [class]="'qr-code-container' + (qrVisible ? ' visible' : '')  + (qrHidden ? ' hidden' : '')">
    <div class="qr-code-container-inner">
        <qr-code [value]="session" size="512"></qr-code>
        <button ion-button clear full (click)="hideQr()">Done</button>
    </div>
</div>