page-game {
    ion-content {
        background: linear-gradient(to bottom, map-get($colors, primary) 0%, darken(map-get($colors, primary), 20%) 100%);
    }
    img{
        width: 50px;
    }
    ion-card{
        text-align: center;
        font-family: 'lato';
        height: 40%;
    }
    .song-info {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        >img {
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            height: 2.5rem;
            width: auto;
        }
        >.song-info-content {
            text-align: center;
            font-size: 1.4rem;
            color: #FFF;
        }
    }
    .leader-board{
        float: left;
        width: 50%;
        height: 72vh; 
    }
    .waveform {
        color: white;
        width: 50%;
        height: 40vh;
        float: right;
    }
    .opponent-lyrics{
        color: white;
        text-align: center;
        height: 10%;
        font-size: 1.5rem;
        margin: 2% 0% 5% 0%;
        border-style: solid;
        border-color: white;
        border-width: 2px;
    }
    
    .qr-code-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(black, 0.35);
        z-index: 1000;
        transition: opacity 200ms;
        opacity: 0;
        height: 100%;
        .qr-code-container-inner {
            margin: 3rem;
            background: #FFF;
            overflow: hidden;
            transition: transform 200ms;
            transform: scale(0.95);
            border-radius: 5px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
            qr-code {
                padding: 2rem 2rem 0 2rem;
                box-sizing: border-box;
            }
            qr-code, img {
                width: 100%;
                display: block;
                height: auto;
            }
        }
        &.visible {
            opacity: 1;
            .qr-code-container-inner {
                transform: scale(1);
            }
        }
        &.hidden {
            display: none;
        }
    }
    .player-container{
        position: fixed;
        bottom: 0;
        height: auto;
        left: 0;
        width: calc(100% - 24px);
        overflow: hidden;
        margin: 12px;
        border-radius : 15px;
        .card-content {
            padding: 0 !important;
        }
        .track {
            width: 100%;
            height: 100px;
        }
        .item {
            padding: 1.75rem;
            padding-left: 0 !important;
            border-style: none !important;
            ion-label {
                margin: 0 !important;
            }
            .search-record {
                height: 3rem;
                width: auto;
                position: absolute;
                top: 2.25rem;
                left: 2rem;
            }
            .item-inner {
                padding-right: 0 !important;
            }
        }
        hr {
            margin: 0 !important;
        }
        .loudness {
            height: 2px;
            width: 100%;
            transition: all 33ms;
            background: map-get($colors, primary);
        }
        #track-item.hidden {
            height: 0;
            display: block;
            overflow: hidden;
            >canvas {
                height: 100px;
            }
        }
        button.submit {
            padding: 12px !important;
            width: 100%;
            text-align: center;
            color: map-get($colors, primary);
            img{
                height: 4rem;
                width: auto;
                margin: 0;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}