<ion-header no-border>
    <ion-navbar color="dark" transparent>
        <ion-title>{{session !== null ? session.name : 'Loading...'}}</ion-title>
        <ion-buttons end class="back-button-md">
            <button ion-button icon-only (click)="showQr()">
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <div class="song-info" style="width: 90%; margin-bottom: 3%;">
        <img src="http://www.clker.com/cliparts/q/7/x/M/D/R/record-player-hi.png">
        <div class="song-info-content">
            <strong>Song Title</strong><br/>Song Artist
        </div>
    </div>  
    <div class="top-container">
    <div class="leader-board">
        <ion-card>
            <ion-card-header>
              Leader Board
            </ion-card-header>
          
            <ion-list>
              <button ion-item>
                <ion-icon name="cart"></ion-icon>
                Shopping
              </button>
          
              <button ion-item>
                <ion-icon name="medical"></ion-icon>
                Hospital
              </button>
          
              <button ion-item>
                <ion-icon name="cafe"></ion-icon>
                Cafe
              </button>
          
              <button ion-item>
                <ion-icon name="paw" item-start></ion-icon>
                Dog Park
              </button>
          
              <button ion-item>
                <ion-icon name="beer" item-start></ion-icon>
                Pub
              </button>
          
              <button ion-item>
                <ion-icon name="planet" item-start></ion-icon>
                Space
              </button>
          
            </ion-list>
          </ion-card>
    </div>  
    <div class="waveform">
        <ion-card>
            <ion-card-header>
              Leader Board
            </ion-card-header>
          
            <ion-list>
              <button ion-item>
                <ion-icon name="cart"></ion-icon>
                Shopping
              </button>
          
              <button ion-item>
                <ion-icon name="medical"></ion-icon>
                Hospital
              </button>
          
              <button ion-item>
                <ion-icon name="cafe"></ion-icon>
                Cafe
              </button>
          
              <button ion-item>
                <ion-icon name="paw" item-start></ion-icon>
                Dog Park
              </button>
          
              <button ion-item>
                <ion-icon name="beer" item-start></ion-icon>
                Pub
              </button>
          
              <button ion-item>
                <ion-icon name="planet" item-start></ion-icon>
                Space
              </button>
          
            </ion-list>
          </ion-card>
    </div>  
</div>
    <div class="opponent-lyrics">
        Lyrics lalalalalalala... 
    </div>  
    <ion-card class="player-container">
        <ion-card-content>
            <ion-list>
                <button ion-item (click)="search()">
                    <img float-left class="search-record" src="http://www.clker.com/cliparts/q/7/x/M/D/R/record-player-hi.png" />
                    <div class="song-info" *ngIf="!loadingTrack">
                        <div class="song-info-content" style= 'color: #444' *ngIf="result === null">
                            <strong>No Song Selected</strong><br/>Click here to search...
                        </div>
                        <div class="song-info-content" style= 'color: #D056DB' *ngIf="result !== null">
                            <strong>{{result.title}}</strong><br/>{{result.artist}}
                        </div>
                    </div>  
                    <div class="song-info" *ngIf="loadingTrack">
                        <div class="song-info-content">
                            <ion-spinner></ion-spinner>
                        </div>
                    </div>
                </button>
                <ion-item id="track-item" [class]="result === null ? 'hidden' : ''">
                    <canvas class="track" id="track" #track height="100px" width="100%"></canvas>
                </ion-item>
                <hr [hidden]="result === null"/>
                <button [hidden]="result === null" ion-item icon-only (click)="submit()" class="submit" detail-none>
                    <ion-icon name="color-wand"></ion-icon>
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<div [class]="'qr-code-container' + (qrVisible ? ' visible' : '')  + (qrHidden ? ' hidden' : '')">
    <div class="qr-code-container-inner">
        <qr-code [value]="sessionId" size="512"></qr-code>
        <button ion-button clear full (click)="hideQr()">Done</button>
    </div>
</div>